@model IEnumerable<Marihub_Task.Models.Department>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create Department</a>
    </p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeptName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeptName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DeptId" class="btn btn-success">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DeptId" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DeptId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index" asp-controller="Employee" class="btn btn-secondary">Back to Home</a>
    </div>
</body>
</html>
